.git
.gitignore
.dockerignore
.idea
.vscode
/node_modules
/vendor
.env
.env.*
!.env.example
/public/build
/public/hot
/resources/js/routes
/resources/js/actions
/resources/js/wayfinder
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache/*.php
/tests
.phpunit.cache
*.md
!README.md
